@use "../../../palette.module.scss" as palette;

.splitter {
  padding: 40px 40px 16px 40px;
  display: flex;
  align-items: start;
  position: relative;
  pointer-events: none;
  border-top: 1px solid white;
  &::after{
    background-color: #eaf0fa;
    content: "";
    height: 1px;
    left: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.count {
  margin-left: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #899cb1;
}
