@use "../../../palette.module.scss" as palette;

.splitter {
  padding: 40px 0 16px 0;
  display: flex;
  align-items: start;
  border-bottom: 1px solid palette.$border;
  pointer-events: none;
  border-top: 1px solid white;
  margin-top: -1px;
}

.count {
  margin-left: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #899cb1;
}
