@use "../../../palette.module.scss" as palette;

.row {
  min-height: 64px;
  display: grid;
  position: relative;
  grid-auto-flow: column;
  align-items: center;
  justify-items: flex-start;
  box-sizing: border-box;
  padding: 12px 40px;
  &::after{
    background-color: #eaf0fa;
    content: "";
    height: 1px;
    left: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  > :last-child {
    justify-self: end;
  }
  &:hover {
    > :last-child {
      display: none;
    }
    > :nth-last-child(2) {
      display: flex;
      justify-self: end;
    }
  }
}
