@use "../../../palette.module.scss" as palette;

.row {
  width: 100%;
  min-height: 64px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: flex-start;
  border-bottom: 1px solid palette.$border;
  box-sizing: border-box;
  padding: 12px 0;
  gap: 2px;
  >:last-child {
    justify-self: end;
    margin-right: 20px;
  }
}
