@use "../../../../palette.module.scss" as palette;

.player {
  box-sizing: border-box;
  max-width: calc(100% - 44px);
  height: 48px;
  display: flex;
  align-items: center;
  background: palette.$border;
  border-radius: 48px;
  padding-left: 20px;
  padding-right: 8px;
  gap: 10px;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.player--progress {
  width: 150px;
  height: 4px;
  border-radius: 50px;
  background-color: #ADBFDF;
}
