@use "../../palette.module.scss" as palette;
@use "../../fonts.scss" as fonts;

.header {
  @include fonts.secondary;
  color: rgba(94, 119, 147, 0.87);
  width: 100%;
  min-height: 64px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: flex-start;
  border-bottom: 1px solid palette.$border;
  box-sizing: border-box;
  padding: 12px 40px;

  > :last-child {
    justify-self: end;
  }
}

.sort {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.table {
  background-color: white;
  border-radius: 8px;
  padding: 0 0 24px;
  min-height: 100%;
  overflow-x: auto;
  > :last-child {
    border-bottom: 0;
  }
  > :not(:first-child) {
    cursor: pointer;
    &:hover {
      background-color: rgba(212, 223, 243, 0.17);
    }
  }
  box-shadow: 0px 4px 5px 0px #E9EDF3;
}
