@use "./palette.module.scss" as palette;

@mixin secondary {
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
  letter-spacing: 0%;
  vertical-align: middle;
}

@mixin primary {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: palette.$text-primary;
}
